<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".css" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="49.17:02:47" />
                <add extension=".js" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="49.17:02:47" />
                <add extension=".woff2" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="49.17:02:47" />
                <add extension=".webp" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="49.17:02:47" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
